.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left-container {
  width: 80%;
  min-width: 300px;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
}
.right-container {
  padding: 30px 10px;
  width: 20%;
  border-left: 1px solid gray;
}
.button-container {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
}
.add-button {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 10px;
  padding: 15px 0;
  letter-spacing: 2px;
}
.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.link-path {
  stroke: #ffc107;
  stroke-width: 1px;
  fill: none;
}
.test { position: absolute;}
.page-color { background-color: #b3e5fc; }
.event-color { background-color: #ffe0b2; }
.component-color { background-color: #c8e6c9; }
